<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  
        <div class="container">

            <a href="@Url.Action("Create", "Quizs" )">
                <span>Generer un nouveau quiz</span>
            </a>
               
            <a href="@Url.Action("PassQuiz","Quizs" )">
                <span>Passer un quiz</span>
            </a>

            <a href="@Url.Action("Revise", "Quizs" )">
                <span>Reviser un quiz</span>
            </a>

        </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
