@model QuizExam.Data.Quiz


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>Quiz numero @Model.quizID </h1>
    <table class="table">
        
        @for (int i = 0; i < Model.Questions.Count; i++)
          {
            @Html.HiddenFor(m => m.Questions[i].questionID)  
              @Html.DisplayFor(m => m.Questions[i].text)    @Html.DisplayFor(m => m.Questions[i].Category.description)
            for (int j = 0; j < Model.Questions[i].ItemOptions.Count; j++)
            {
              <div>
                @Html.RadioButtonFor(m => m.Questions[i].selectedOptionID, Model.Questions[i].ItemOptions[j].optionID)
                <span>@Model.Questions[i].ItemOptions[j].text</span>
              </div>   
            }
          }


    </table>
 <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
}
